<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Songs</title>
</head>
<body>
  <% Song.all.each do |song| %>
    <a href="<%= @rendered_path %>/songs/show.html.erb"><%= song.name %></a>
  <% end %>
</body>
</html>
