<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
</head>
<body>
  <a href="artists/index.html">Artists -<%= Artist.count %></a>
  <a href="genres/index.html">Genres -<%= Genre.count %></a>
  <a href="songs/index.html">Songs -<%= Song.count %></a>
</body>
</html>
